.proj{
    overflow:auto;
    padding: 200px;
    margin-bottom: 200px;
    
}

.projects1{
    
    width: 80%;
    border: 3px solid rgb(133, 125, 125);
    border-radius: 10px;
    margin: 100px auto;
    padding: 15px;
    text-align: center;


}
.projects a {
    text-decoration: none;
    margin-right: 5px;
    color: rgb(73, 68, 78);
    font-size: larger;
    text-transform:capitalize;
}

