.row{
    background-color: rgb(137, 248, 248);
    --bs-gutter-x: 0rem !important;
}
.div2{
    height: 100vh;
    margin:0;
    padding: 0;
    background-color: white;
    background:linear-gradient(to right bottom, rgba(187, 246, 241, 0.7),
    rgba(14, 1, 1, 0.3))
}
.div1{
    height: 100vh;
}
.image{
    height: 300px;
    width: 300px;
    border-radius: 50% ;
    margin-top: 120px;
    

    
}
.infoText{
    margin-top: 50px;
}
@media only screen and (max-width: 991px) {

    .div1{

        height: auto !important;
    }
    .div2{

        height: 100vh !important;

    }
   
  }



 
