.sidebar{
    /* background-color:  #ffffff;
    color: rgb(246, 246, 246); */
    height: 100vh;
    background-color: #353353;
    /* background:linear-gradient(to right bottom, rgba(33, 37, 33, 0.3),
    rgba(120, 185, 160, 0.7)); */
    text-align: center;
    
    
    
}
.logo{
    font-size: 42px;
    text-align: center;
   font-weight: 400;
   font-family: 'Style Script';
   padding: 80px 0 50px 0;
   color: rgb(255, 255, 255);
    
    

}

.sidebar ul {
    
   
   text-align: center;
   padding: 0;
   margin: 0;
   
    
}
.sidebar ul li{
    text-decoration: none;
    display: block;
    border: 1px solid gray;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
    font-style:normal;
    height: 60px;
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;

    
}
.sidebar ul li a{
    display: block;
    color: rgb(246, 250, 253);
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
    
}
.sidebar{
    border-right: 1px solid white;
    overflow: auto;
}
@media only screen and (max-width: 1920px) {

    .sidebar ul li{
        text-decoration: none;
        display: block;
        border: 1px solid gray;
        margin: 0 auto;
        border-radius: 10px;
        font-size: 17px;
        font-style:normal;
        height: 60px;
        width: 250px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
    
        
    }
    .sidebar{
        border-bottom: none;
        overflow: auto;
    }
    


}

@media only screen and (max-width: 1461px) {

    .sidebar ul li{
        text-decoration: none;
        display: block;
        border: 1px solid gray;
        margin: 0 auto;
        border-radius: 10px;
        font-size: 17px;
        font-style:normal;
        height: 60px;
        width: 250px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
    
        
    }
    .sidebar{
        border-bottom: none;
        overflow: auto;
    }
    


}

@media only screen and (max-width: 1161px) {

.sidebar ul li{
    text-decoration: none;
    display: block;
    border: 1px solid gray;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 17px;
    font-style:normal;
    height: 50px;
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;

    
}
.sidebar{
    border-bottom: none;
    overflow: auto;
}

}

@media only screen and (max-width: 991px) {

    .sidebar ul li{
        text-decoration: none;
        display: inline-block;
        border: 1px solid gray;
        padding: 0px;
        margin: 10px ;
        border-radius: 10px;
        font-size:17px;
        font-style: normal;
        width:110px;
        
        
    }
    
    .sidebar{
        
        color: rgb(1, 11, 20);
        height: auto;
        overflow:auto;
       
        
        
        
    }
    .sidebar{
        border-bottom: 1px solid white;
        border-right:none ;
        padding-bottom: 20px;
    }

   
}
@media only screen and (max-width: 355px) {

    .sidebar ul li{
        text-decoration: none;
        display: inline-block;
        border: 1px solid gray;
        padding: 0px;
        margin: 10px ;
        border-radius: 10px;
        font-size:small;
        font-style: normal;
        width:80px;
        
    }
    .sidebar{
        
        border-right:none ;
        padding-bottom: 20px;
    }
}
