.contacts ul li  {
 border: 3px solid rgb(139, 134, 134);
 display: flex;
 max-width: 600px;
 width: 90%;
 height: 90px;
 text-decoration: none;
 text-align: center;
 margin:60px auto;
 align-items: center;
 border-radius: 10px;
 justify-content: center;
 font-size: 15px;
 padding: 10px;
}
.wimage{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
.cspan{
    color: rgb(178, 243, 238);
    margin-left:10px ;
}
.cspan2{
    font-size: 19px;
    
}
.contacts ul {
    margin-top: 50px;
    padding: 0;
    
}
.contacts ul li a{
    text-decoration: none;
    color: rgb(107, 251, 227);
    margin-left: 20px;
    font-size: 25px;
    
}
.contacts{

    overflow: auto;

}
@media only screen and (max-width: 991px) {

    .div2{

        height: auto !important;
    }
   
  }